<header>
  <nav>
    <div>
      <div class="logo">
        <a routerLink="/">
          <img src="../../../../assets/img/logo.svg" width="50" alt="logo" />
        </a>
      </div>
      <app-nav-menu></app-nav-menu>
    </div>

    <div>
      <ul>
        <li class="nav-item">
          <div class="cart">
            <a routerLink="/">
              <img src="../../../../assets/img/cart.svg" width="36" alt="cart" />
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="/">
            <img src="../../../../assets/img/user.svg" width="36" alt="user" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
